.container {
	margin: 30px auto;
	background-color: gray;
	width: 1000px;
	font-size: 0px;
	overflow: hidden;
}

.card {
	width: 220px;
	height: 280px;
	margin: 15px;
	background-color: green;
	float: left;
}









































