* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	text-align: center;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 1024px;
	height: 1176px;
	text-align: center;
}

.nav {
	position: fixed;
	height: 97px;
	width: 1024px;
	background-color: #373c3f;
	margin: 0 auto;
	z-index: 10;
}

.nav-menu {
	text-align: left;
	margin-left: 53px;
	line-height: 97px;
	vertical-align: middle;
}

.nav-element {
	display: inline-block;
	padding-left: 31px;
}

@font-face {
	font-family: Montserrat;
	src="/1024/fonts/Montserrat-Regular.ttf"
}

.nav-link {
	font-family: Montserrat;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
}

.banner {
	padding-top: 97px;
	width: 1024px;
	height: 578px;
  	background-image: linear-gradient( -60deg, rgb(25,180,198) 0%, rgb(7,138,164) 100%);
  	background-image: -moz-linear-gradient( -60deg, rgb(25,180,198) 0%, rgb(7,138,164) 100%);
  	background-image: -webkit-linear-gradient( -60deg, rgb(25,180,198) 0%, rgb(7,138,164) 100%);
  	background-image: -ms-linear-gradient( -60deg, rgb(25,180,198) 0%, rgb(7,138,164) 100%);
}

.banner-text {
	margin-top: 205px;
}

h1 {
	padding-left: 87px;
	text-align: left;
	font-family: Montserrat;
	font-size: 60px;
	font-weight: lighter;
	color: white;
	width: 650px;
	line-height: 65px;
}

.banner-link {
	padding-left: 82px;
	float: left;
	padding-top: 54px;
	font-family: Montserrat;
	font-size: 34px;
	color: white;
	opacity: 0.5;
}

.arrow {
	color: white;
	font-family: "Quicksand";
}

.blue {
	position: absolute;
	top: 485px;
	left:  760px;
	font-size: 36px;	
}

.text-box {
	height: 244px;
}

.black-box {
	width: 796px;
	float: left;
	height: 244px;
	background-color: #27212c;
}

.black-text {
	font-family: Montserrat;
	font-size: 30px;
	color: #9282a0;
	text-align: left;
	padding-left: 88px;
	line-height: 244px;
	vertical-align: middle;
}

.button-link {
	width: 228px;
	float: right;
	height: 244px;
	background-color: #bc3183;
}

.pink {
	font-size: 50px;
	line-height: 244px;
	vertical-align: middle;
}

.pictures {
	width: 1024px;
	height: 294px;
	clear: both;
	display: flex;
}

.button-purple {
	background-color: #5b0fa1;
	width: 342px;
	height: 294px;
}

.purple {
	font-size: 36px;
	line-height: 294px;
	vertical-align: middle;
}

.bridge {
	width: 341px;
	height: 294px;
}

.girl {
	width: 341px;
	height: 294px;
}

article {
	height: 563px;
	background-color: #ebebeb;
}

.container {
	padding-top: 53.5px;
	padding-left: 78.5px; 
	width: 860px;
	height: 340px;
}

h2 {
	font-family: Montserrat;
	font-size: 30px;
	color: #088ca5;
	text-align: left;
}

.block {
	height: 340px;
}

.left {
	width: 413px;
	float: left;
}

.right {
	width: 413px;
	float: right;
	margin-left: 34px;
}

.article {
	text-align: left;
	line-height: 26px;
	font-family: Montserrat;
	font-size: 14px;
	color: #515151;
	padding-top: 26.25px;
}