.container {
    width: 1050px;
    margin: 0 auto;
    background-color: #dedede;
    display: flex;
    flex-wrap: wrap;
}

.block {
    margin: 15px;
    background-color: black;
    width: 320px;
    height: 420px;
    color: white;
    font-size: 100px;
    text-align: center;
    flex-basis: 320px;
    flex-grow: 1;
    
}
/***************************/



