.bg {
	background-image: url(persons.jpg);
	background-repeat: no-repeat;
	width: 1000px;
	height: 10000px;
	margin: 0 auto;
	background-size: 300px 400px;
	background-position: top center;
	background-attachment: fixed; 
}


    
    









































